{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"endOfLine": "auto",
	"semi": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"printWidth": 80,
				"tabWidth": 1,
				"singleQuote": false,
				"trailingComma": "none",
				"bracketSpacing": true,
				"semi": true,
				"useTabs": false
			}
		}
	]
}
